{
"text": "Status Update",
"blocks": [
    {
        "type": "section",
        "text": {
            "type": "mrkdwn",
            "text": "RHEL provisioning complete on Amazon AWS Cloud!  Server reachable at:"
        }
    },
    {
        "type": "section",
        "text": {
            "type": "mrkdwn",
            "text":
"
:red_circle: <http://{{public_ip}}|RHEL-Server>
"
        }
    }
]
}